<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douyasi.example.jersey_jetty_demo.domain.dao.PageDao">
    <!--
    <resultMap id="BaseResultMap" type="com.douyasi.example.jersey_jetty_demo.domain.Page">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>
     -->
    <sql id="allColumn">
        `id`,
        `uid`,
        `content`,
        `created_at`,
        `updated_at`
    </sql>
    <sql id="whereCondition">
        <trim prefix="WHERE" prefixOverrides="AND ">
            <if test="uid != null">AND (`uid` = #{uid})</if>
            <if test="pageIds != null and pageIds.size() > 0">
                AND `id` IN
	            <foreach item="item" index="index"
	                collection="pageIds" open="("
	                separator="," close=")">
	                #{item}
	            </foreach>
            </if>
            <if test="startTime != null">
                AND `created_at` &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND `created_at` &lt;= #{endTime}
            </if>
        </trim>
    </sql>
    <select id="getPage" resultType="com.douyasi.example.jersey_jetty_demo.domain.Page">
        SELECT 
        <include refid="allColumn"></include>
        FROM `tm_pages`
        WHERE `id`=#{id} AND uid=#{uid};
    </select>
    <select id="getPagesByCondition" resultType="com.douyasi.example.jersey_jetty_demo.domain.Page">
        SELECT
        <include refid="allColumn"></include>
        FROM `tm_pages`
        <include refid="whereCondition"></include>
        ORDER BY `created_at` DESC
        <if test="offset >= 0 and limit > 0">LIMIT #{limit} OFFSET #{offset}</if>;
    </select>
    <select id="getPagesCountByCondition" resultType="int">
        SELECT
        COUNT(1)
        FROM `tm_pages`
        <include refid="whereCondition"></include>;
    </select>
    <insert id="insert" parameterType="com.douyasi.example.jersey_jetty_demo.domain.Page">
        INSERT INTO `tm_pages` (<include refid="allColumn"></include>)
            VALUES (
                #{id}, 
                #{uid}, 
                #{content}, 
                #{createdAt}, 
                #{updatedAt}
            );
    </insert>
    <update id="update" parameterType="com.douyasi.example.jersey_jetty_demo.domain.Page">
        UPDATE `tm_pages`
            SET `content`=#{content}, `updated_at`=DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        WHERE
            `id`=#{id};
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM `tm_pages`
        WHERE
            `id`=#{id};
    </delete>
</mapper>